*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --main-font:"Nerko One", cursive;
    --sec-font: "Comfortaa", cursive;
    --nav-color:rgb(57,72,121);
    --hover-color:rgb(0,153,204);
    --bg-color:rgb(32,30,35);
    --btn-color:rgb(73,102,145);
    --caption-color:rgb(148,150,152);
    --bg-btn-color:rgb(54,55,57);
    --bg-btn-details-color:#ffc107;
    
    
}

.main-font{
    font-family: var(--main-font);
}
.sec-font{
    font-family: var(--sec-font);
}


body {
    background-image: 
        linear-gradient(to bottom, rgba(29, 32, 36, 0.9), rgba(28, 31, 35, 0.9)),
        url(../images/download.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}


.container i{
    color: var(--caption-color);
}
.container{
    color: white;
}

.container .head{
    font-size: 1.75rem;
}
.container .title{
    font-size: 1.75rem;

}
.container .inner .remain{
    font-size: 1rem;

}

.container .inner a{
    border: 1px solid var(--bg-btn-details-color);
    padding: .61rem 1.25rem;
    border-radius: 12px;
    background-color: transparent;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}
.container .inner a:hover{
    background-color: var(--bg-btn-details-color);
}

#close:hover{
    cursor: pointer;
}

.container .inner span{
    color: white;
    font-family: var(--main-font);
    font-size: 1.5rem;
}
.container .inner span.br{
    background-color: var(--hover-color);
    padding: 2px 15px;
    border-radius: 12px;
    color: black;
    font-size: 1rem;
}